body {
    background-color: #FFE4E1;
    padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

a:link { 
    text-decoration: none; 
    color:black;
}

a:visited { 
    text-decoration: none; 
    color:black;
}

a:hover { 
    text-decoration: underline; 
    color:red;
}

a:active { 
    text-decoration: underline; 
    color:blue;
}

.table table-borderless {
    background-color: lightgray;
    text-align: center;
    padding: 8px 8px;
}

.tr-main{
    text-align:center;
    color:black;
    font-family:Arial;
}

.event-info{
    border:red solid 5px; 
    padding:10px; 
    border-radius:13%; 
    background-color:lightyellow;
}

h2{
    font-weight:bold; 
    color:darkblue; 
    text-align:center;
}

#image-info{
    width:70%; 
    position:static; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

p{
    color: black;
    text-align: justify;
}