body {
    background-color: #f5bed6;
    padding: 10px 10px 10px 10px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: red;
}

.table table-borderless {
    background-color: lightgray;
    text-align: center;
    padding: 8px;
}

.tr-main{
    text-align:center;
    color:black;
    font-family:Arial;
}

.form-container {
    background-color: #FFFAFA;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 16px;
    color: #333;
    font-weight: bold;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.alert h2 {
    color: #333;
}